*{
	margin: 0;
	padding:0;
	box-sizing:  border-box;
}
body{
    font-family: 'Montserrat';
	height: 100%;

}
/*------navigation bar------*/
#overlay {
    width: 100%; /* Full width (cover the whole page) */
    height: 100vh; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(46, 43, 43, 0.5); /* Black background with opacity */
    cursor: pointer; /* Add a pointer on hover */
  }
.container{
    min-height: 100vh;
    width: 100%;
    background-image: url(./images/hero-cover.3.png);
    background-position: center;
    background-size: cover; 
    position: relative;
}
.navbar{
    display: flex; 
    align-items: center;
	margin: auto;
	padding: 20px ;
	justify-content: space-around;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li {
    display:inline-block;  
	margin-right:20px;
    font-size: 24px;
	padding: 0 20px;
	font-weight: bold;
	margin: 0%;
	text-decoration: none;
	position: relative;
}
.navlinks a{
    color:white;
    text-decoration: none;
}
.navlinks a:hover{
	color: rgb(0, 0, 0);
	transition: .9s;
}
.navlinks a:after{
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 0;
	height: 7px;
	background-color: rgba(0, 0, 0, 0.9);
	-webkit-transition:transform 250ms;
	transition: transform 250ms;
}
.navlinks a:hover:after{
	width: 100%;
}
.login{
    display:flex;
}
.logo h2{
    color: white;
    font-weight: bolder;
    font-size: 30px;
}
.login h2{
    color: white;
}
.bmember{
    margin-left: 40px;
}
.bmember:hover{
    background: rgb(36, 166, 240);
    transition: 1s;
}
.bunner{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
   /* display: flex;
    flex-direction: column;
    align-items: center;
	flex-wrap: wrap;
	justify-content:  space-around; 
    margin-top: 15%;
    */
}
.col-1{
    flex-basis: 50%;
	min-width: 300px;
}
.col-1 h2{
        font-size:65px;
        line-height: 60px;
        margin: 25px 0;
        color: white;
}
.col-1 p{
    font-size:25px;
    line-height: 40px;
    margin: 35px 0;
    justify-content: center;
    color: white;
}
.button .btn{
    display: inline-block;
    text-decoration: none;
    font-weight: bolder;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 23px;
    background: transparent;
    position: relative;
    border-radius: 40px;
    cursor: pointer;
    margin: 0 15px;
    margin-top: 30px;
}
.button .btn:hover{
    background: rgb(36, 166, 240);
    transition: 1s;
}
nav .fa{
    display: none;
    cursor: pointer;
}
.toggle-button{
position: absolute;
top: .75rem;
right: 1rem;
display: none;
flex-direction: column;
justify-content: space-between;
width: 30px;
height: 21px;

}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/*------media query-----*/
@media (max-width:100px){
   
}
@media (max-width:900px){
    body{
        width:100%;
        overflow-x:hidden;
    }
    .toggle-button{
        display: flex;
    }
    .navlinks{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;

    }
    #navbaritems{
        background-color: #eb125e;   
        flex-direction:column;
        width: 100%;
    }
    #navbaritems li{
        text-align: center;
    }
    #navbaritems.active{
        display: flex;
    }

   /*--
    .navbar{
        justify-content: start;
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: 0;
        height: 100vh;
        width: 100%;
        

    }
    nav ul li{
         margin: 40px 0;
    }
    nav ul li a{
        font-size: 30px;
        display: block;
    }
    .navlinks a:hover{
        color: rgb(0, 0, 0);
        transition: .9s;
    }*/
    .col-1 h2{
        font-size:45px;
        line-height: 60px;
        margin: 25px 0;
        color: white;
}
    .col-1 p{
    font-size:15px;
    line-height: 40px;
    margin: 25px 0;
    justify-content: center;
    color: white;
}
.login{
    display: none;
}
/*-----services--------*/
.container-3{
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
}
.container-4{
    display: flex;
    flex-direction: column;
}
/*-----our team*/
.members{
    flex-wrap: wrap;
}
/*-----partners--------*/
.partners{
    flex-wrap: wrap;
    padding: 40px;
}
/*-----branches------*/
.branches{
    flex-wrap: wrap;
}
.sub-branch{
    flex-wrap: wrap;
}
.bappontmet{
    flex-wrap: wrap;

}
/*-----footer*/
.consult{
    flex-wrap: wrap;
    display: none;
}
.footer-1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.container-3{
    display: flex;
    flex-direction: column;
}
}
/*-----End of media query--------*/


/*-----services--------*/
.container-3{
    display: flex;
        margin: auto;
        padding-left: 30px;
        padding-right: 30px;
        position: relative;
        flex-wrap: wrap;
        top: -100px;
}
.col-3{
    flex: 1;
    border: 1px solid #666;
    margin: 20px;
    padding: 60px;
    transition: 0.3s;
    text-align: justify;
    cursor: pointer;
    box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    background-color: white;
    flex-wrap: wrap;
}
.col-3:hover{
    background: rgb(36, 166, 240);
    color: black;
}
.col-3 p{
	font-size: 20px;
	margin: 12px 0;
	color: rgb(49, 46, 46);
}
.col-3 h2{
	font-weight: 600;
	color: rgb(3, 0, 0);
	font-size: 39px;
}
.col-3 .fa{
    font-size: 50px;
    color:rgb(36, 166, 240) ;
}
/*------service section 2--------*/
.container-4{
    display: flex;
        margin: auto;
        padding-left: 30px;
        padding-right: 30px;
        flex-wrap: wrap;
}
.col-4{
    flex: 1;
    border:none;
    margin: 20px;
    padding: 60px;
    background: #fff;
    transition: 0.3s;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    z-index: 2;
    flex-wrap: wrap;
}
.col-4 p{
	font-size: 15px;
	margin: 12px 0;
	color: rgb(49, 46, 46);
}
.col-4 h2{
	font-weight: 600;
	color: rgb(3, 0, 0);
	font-size: 30px;
}
.col-4 .fa{
    font-size: 40px;
    color: rgb(36, 166, 240);
}
/*-----our team-----*/
.team{
    display: flex;
    flex-direction: column;
    padding: 90px;
    margin: 50px;
}
.descrip{
    color: rgb(0, 0, 0);
  text-align: center;
}
.descrip h2{
    font-size: 45px;
    padding: 20px;
}
.descrip p{
    font-size: 20px;
}
.members{
display: flex;
justify-content: space-around;
}
.col-5{
    flex: 1;
    border: 1px solid #666;
    margin: 70px;
    padding: 50px;
    background: #fff;
    transition: 0.3s;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    flex-wrap: wrap;
}
.col-5 p{
    font-size: 20px;
    color: rgb(53, 50, 50);
    padding: 20px;
}
.col-5 .fa{
    color: #f3ce35;
    font-size: 24px;
}
.col-5:hover{
    background: rgb(232, 235, 238);
	transform: translateY(-15px);
	 transition: transfom.3s;
}
/*-----partners--------*/
.partners{
    flex-wrap: wrap;
    display: flex;
    padding: 90px;
margin: 50px;
justify-content: space-around;
}
.partners img{
    width: 50%;
    height: auto;    

}
.col-6:hover{
        transform: translateY(-15px);
         transition: transfom.3s;
}
/*------subscribe----*/
.subscribe{
    border: 1px solid #666;
    padding: 50px;
margin: 100px;
display: flex;
justify-content: space-between;
background-image: linear-gradient(to right, #143072, #9c28d4, #cd00ab, #e40082, #eb125e);
flex-wrap: wrap;
}
.subscribe .news{
align-self: flex-start;
}
.subscribe .email{
    display: flex;
font-size: 30px;
}
.email h3{
    background:rgb(36, 166, 240);
    padding: 20px;
    color:#fff;
    font-weight: lighter;
}
.news h2{
    font-size: 36px;
    color: #fff;
}
/*------price plans-----*/
.pricing{
    padding: 60px;
    padding-bottom: 40px;
    margin: 30px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
}
.row-1{
    flex: 1;
    border: 1px solid #666;
    margin: 120px 15px;
    padding: 60px 5px;
    background: #fff;
    transition: 0.3s;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.row-1:hover{
    transform: translateY(-15px);
     transition: transfom.3s;
     background-color: #252b42;
     color: #fff;
}
.fa-icons ul{
    list-style-type: none;
}
.fa-icons ul li{
    font-size: 20px;
    margin: 20px;
}
.row-1 h2{
    font-size: 40px;
    padding: 20px;
}
.row-1 h3{
    font-size: 28px;
    padding: 20px;
    color:rgb(36, 166, 240) ;
}
.row-1 p{
    font-size: 20px;
    color: rgb(24, 22, 22);
}
.fa-icons{
    text-align:center;
}
.fa-icons .fa{
    font-size: 30px;
    color: green;
    padding: 9px;
    text-align: justify;
}
.fa-icons2 .fa{
    font-size: 30px;
    color: gray;
    padding: 9px;
    text-align: justify;
}
.button-2 .btn{
    display: inline-block;
    text-decoration: none;
    font-weight: bolder;
    background: rgb(36, 166, 240);
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 23px;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
}
.button-2 .btn:hover{
    transition: 1s;
}
/*-----branches------*/
.branches{
    padding: 40px;
    height: 150vh;

}
.sub-branch{
    display: flex;
    background:#252b42 ;
    justify-content: space-around;
    height: 100vh;
    padding: 60px;
    flex-wrap: wrap;
}
.col-10 h2,p{
    color: white;
}
.col-10 h2{
    font-size: 50px;
    padding: 20px;
}
.col-10 p{
    font-size: 20px;
    padding: 20px;

}
.col-10 img{
    font-size: 10px;
}
.bappontmet{
    display: flex;
    width: 60%;
    position: relative;
    top: -500px;
    left: 20%;
    background: white;
    flex-wrap: wrap;
}
.bappontmet img{
    height: 80vh;
}
.contact{
    padding-left: 40px;
    justify-content: space-around;
}
.contact h2{
    font-size: 35px;
    padding: 20px;
    text-align: center;
}
.contact input{
    font-size: 20px;
    padding: 40px;
    height: 40px;
    width: 100%;
    border-radius: 2px;
    padding-bottom: 30px;
}
form{
    margin: 20px;
}
label{
    font-size: 29px;
    padding: 30px;
}
.contact button{
    display: inline-block;
    text-decoration: none;
    font-weight: bolder;
    border: 1px solid rgb(0, 0, 0);
    padding: 12px 34px;
    font-size: 23px;
    background: transparent;
    position: relative;
    border-radius: 40px;
    cursor: pointer;
    justify-content: center;
    color: white;
    background: rgb(36, 166, 240);
    margin: 35px;
    width: 100%;

}
.contact button:hover{
    background-color: rgb(110, 173, 224);
    transition: 1s;
    color: black;
}
input[type=text] {
    width: 100%;
    margin: 12px 0;
    box-sizing: border-box;
 }
 /*---footer---*/
 .footer-col-1{
	padding-top: 40px;
	text-align: center;

}
.footer-col-1 h2{
	color: black;
}
.footer-col-1 ul{
	list-style-type: none;
	text-align: center;
	line-height: 40px;
}
.footer-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.row-5 p{
    color: rgb(47, 44, 44);
    font-size: 20px;
}
.footer-col-1{
}
.footer-col-1 .fa{
    color:rgb(36, 166, 240) ;
    font-size: 35px;
    padding-top: 20px;
    margin-left: 30px; 
    justify-content: space-around;
}
.consult{
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
}
.row-5 h2{
    color: rgb(32, 31, 31);
    font-size: 35px;
    padding-bottom: 20px;
}
.row-5 button{
    display: inline-block;
    text-decoration: none;
    font-weight: bolder;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 23px;
    background: transparent;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(36, 166, 240);
    color: white;
}
.row-5 button:hover{
    background: rgb(36, 166, 240);
    transition: 1s;
    color:black;
}
.last-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 10px;
}
.icons-footer .fa{
    color:rgb(36, 166, 240) ;
    font-size: 35px;
    padding-top: 20px;
    margin-left: 30px;

}
.icons-footer{
    justify-content: space-evenly;
}
.last-footer h2{
    font-size: 22px;
    color: rgb(68, 64, 64);
    padding-top: 20px;
}
