*{
	margin: 0;
	padding:0;
	box-sizing:  border-box;
}
body{
    font-family: 'Montserrat';
	height: 100%;

}
/*------navigation bar------*/
.header{
    
}
.container{
    min-height: 100vh;
    width: 100%;
    background-image: url(./images/hero-cover.3.png);
    background-position: center;
    background-size: cover; 
    position: relative;
}
.navbar{
    display: flex; 
    align-items: center;
	margin: auto;
	padding: 20px ;
	justify-content: space-around;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li {
    display:inline-block;  
	margin-right:20px;
    font-size: 24px;
	padding: 0 20px;
	font-weight: bold;
	margin: 0%;
	text-decoration: none;
	position: relative;
}
#navbaritems a{
    color:white;
    text-decoration: none;
}
#navbaritems a:hover{
	color: rgb(0, 0, 0);
	transition: .9s;
}
#navbaritems a:after{
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 0;
	height: 7px;
	background-color: rgba(0, 0, 0, 0.9);
	-webkit-transition:transform 250ms;
	transition: transform 250ms;
}
#navbaritems a:hover:after{
	width: 100%;
}
.login{
    display:flex;
}
.logo h2{
    color: white;
    font-weight: bolder;
    font-size: 30px;
}
.login h2{
    color: white;
}
.bmember{
    margin-left: 40px;
    background-color: blue;

}
.bunner{
    display: flex;
    flex-direction: column;
    align-items: center;
	flex-wrap: wrap;
	justify-content:  space-around; 
    margin-top: 15%;
}
.col-1{
    flex-basis: 50%;
	min-width: 300px;
}
.col-1 h2{
        font-size:65px;
        line-height: 60px;
        margin: 25px 0;
        color: white;
}
.col-1 p{
    font-size:25px;
    line-height: 40px;
    margin: 25px 0;
    justify-content: center;
    color: white;
}

